.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  background-color: #CC0042;
  flex: 1 1 200px;
  color: white;
  font-family: Helvetica;
  padding: 20px;
  transition: .1s background;
}

.box:hover {
  background: #FF0052;
}

.middle {
  background-color: #B20039;
}

h3 {
  font-size: 25px;
}